# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
dist/
build/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
*.log.*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Typescript
*.tsbuildinfo

# pnpm
.pnpm-store/

# Misc
coverage/
.cache/
*.pem
